.photo {
    background-image: url("https://amaranoc.am/images/footer/home-add-application.png");
    background-repeat: no-repeat;
    margin-top: 100px;
    background-size: cover;
    height: 70vh;
  }